<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/dist/semantic.min.css">
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/semantic-ui/dist/semantic.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-animate.js"></script>
	<script src="animations.js"></script>
</head>
<body ng-app="ngAnimate">
	<div>
		<h1> Content Hub </h1>
		<div class="ui segment">
		<p> Were do you want to go? </p>
		</div>
		<a href="http://www.anzumana.com">Anzumana.com</a>
		<br>
	</div>
	<br>
	<div class="ui grid">
		<div ng-init="friends = [
			{name:'Could you spell that', about:'
This is a little Mac Service that helps when you have to put in a bunch of numbers.
Highlight any sequence of numbers and let your mac read them back to you.
I use this service a lot to make sure that i did everything correct.',
desc_small:'Mac Service',
platforms:'mac only',
imagepath:'CouldYouSpellThat.png',
download_url:'https://github.com/Anzumana/CouldYouSpellThat/blob/master/CouldYouSpellThat.zip?raw=true'}
		]">
			<p>Currently {{friends.length}} finished Project.Enjoy<o>
			<input type="search" ng-model="q" placeholder="filter Projects..." aria-label="filter Projects" />
			<div class="example-animate-container">
				<div class="ui grid">
					<div class="animate-repeat" ng-repeat="friend in friends | filter:q as results">
						<div class="four wide column">
							<div id="test{{$index}}"class="ui people shape">
								<div class="sides">
									<div class="side">
										<div class="ui card">
											<div class="content">
												<div class="header">{{friend.name}}</div>
												<div class="meta">
													{{friend.desc_small}}
												</div>
												<div class="description">
													{{friend.about}}
													<a href='{{friend.download_url}}'>Download the Service</a> or
													<a href='{{friend.link}}'>Source Code for the Service in on my Github</a>
												</div>
											</div>
											<div class="extra content">
												<span class="right floated">
													created with <i  class ="heart icon"></i>Anzumana
												</span>
												<span>
													<i class="tags icon"></i>
													{{friend.platforms}}
												</span>
											</div>
										</div>
									</div>
									<div class="side active">
										<div class="ui card">
											<div class="image">
												<img src="images/{{friend.imagepath}}">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="animate-repeat" ng-if="results.length == 0">
				<strong>No results found...</strong>
			</div>
		</div>
	</div>
<body>
</html>
